/* global */

body {
    background-color: #f2f2f2;
    letter-spacing: .05rem;
    font-family: Arial;
    margin:0;
    padding:0;
}

input, textarea, pre {
    font-family: Arial;
    letter-spacing:.05rem;
    color:#8c8c8c;
    line-height:23px;
}

h1, h2, h3, h4, h5, p {
    margin:0;
    padding:0;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: arial;
    letter-spacing: .025rem;
    font-size:14px;
    color:rgb(205, 205, 205);
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-family: arial;
    letter-spacing: .025rem;
    font-size:14px;
    color:rgb(205, 205, 205);
  }

.sm-title {
    font-size:16px;
    font-weight: bold;
    margin-top:30px;
}

a {
    text-decoration: none;
    color:#8c8c8c;
}

a:hover {
    text-decoration: none;
    color:#8c8c8c;
}

.welcome_big_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
}
.welcome_title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcom_title > span {
    display: flex;
}

.core_point {
    display: flex;
    width:fit-content;
    color: #8c8c8c;
    flex-direction: column;
    align-self: center;
    margin-top:30px;
}

.bold {
    font-weight: 600;
    margin-left:5px;
    margin-right:5px;
    color: #60CFFF;

}

.register_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
}
.register_button > a {
    margin-right:10px;
}

.create {
    display: flex;
    justify-content: center;
    margin-top:40px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:30px;
}

.feature_item:hover {
    transform: scale(0.9);
    transition: 250ms ease-in-out;
    background-color: 3px 3px 5px #f2f2f2
}

.feature_item > img {
    margin-top:30px;
    margin-bottom:30px;
    max-width:100%    
}

.btn-blue:disabled {
    background-color:rgb(201, 201, 201);
}

.btn-blue:focus {
    outline:none;
}

/* form global */

input {
    font-size:14px;
}
.input > input:focus {
    outline:none;
    background-color:rgb(221, 245, 255);
    transition: 250ms ease-in-out
  
}

.btn-logout {
    width:100%;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8c8c8c;
    border-radius: 10px;
    transition: 250ms ease-in-out;
}
.btn-logout:hover{
    background-color: rgb(255, 133, 153);
    transform: scale(1.05);
    transition: 250ms ease-in-out;
    color:white;
    border:none;
}
.btn-logout:focus{
    outline:none;
}

        
    .navbar {
        background-color:white;
        width:100%;
        height:105px;
        padding: 15px 15% 10px 15%;
        position: sticky;
        top:0;
        box-shadow: 3px 3px 5px #f2f2f2;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
    }
    .navbar > a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar >  a > span {
        font-size:20px;
        font-weight:600;
        margin-left:5px;
        color:#4f4f4f;
    }

    .nav_logo {
        height: 60px;
    }
    .navbar_right-wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .menu_section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .top_user_menu {
        margin-right:20px;
    }

    .profile_link {
        display: inline-block;
        text-align: center;
        margin-left:20px;
        font-size:12px;
        color:#8c8c8c;
    }
    .profile_link:hover {
        cursor: pointer;
    }
    .navbar_profile_pic {
        width:50px;
        height:50px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items:center ;
        position: relative;
    }
    .navbar_profile_outer-wrap {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom:5px;
    }
    .navbar_profile_pic > img {
        width:130%;
        height:auto;
        
    
    }
    .no_navbar_profile {
        width:50px;
        height:50px;
    }

    .form_wrapper {
        width:100%;
        height:100%;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .account_menu-wrap {
        position: absolute;
        z-index: 1;
        width:fit-content;
        height:fit-content;
        top:95px;
        margin-left:20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;       
    }
    .menu-deco {
        width: 0;
        height: 0;
        left:50%;
        border-right: 35px solid transparent;
        border-left: 35px solid transparent;
        border-bottom: 15px solid  #fefefe;
    }
    .account_menu_frame {
        width:200px;
        min-height:fit-content;
        background-color:  #fefefe;
        border-radius: 20px;
        padding:20px;
        box-shadow: 5px 5px 7px #e9e9e9;
        display: flex;
        flex-direction: column;
    }
    .acct_menu_item {
        font-size:16px;
        color:#8c8c8c;
        margin-bottom:5px;
        padding:5px;
        border-radius: 5px;
        height:30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .acct_menu_item:hover {
        background-color: rgb(221, 245, 255);
    }


    
    .register {
        width:50%;
        height: fit-content;
        background-color:white;
        border-radius:25px;
        display: flex;
        flex-direction: column;
        padding:3rem 3rem 3rem 3rem;
        box-sizing: border-box;
        position: fixed;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        align-items: center;
        justify-content: center;
    }
    
    .register > h3 {
        margin-bottom:30px;
        font-size: 2rem;
    }
    .errors-wrap {
        display: flex;
        justify-content: center;
        justify-items: center;
        padding:10px;
    }
    .error_msg{
        display: flex;
        justify-content: center;
        align-items: center;
        width:fit-content;
        height:fit-content;
        padding:5px;
        border-radius: 10px;
        background-color:rgb(255, 232, 248);
    }


    .btn-post {
        display: flex;
        margin-left:35%;
    }
    
    .label {
        display: inline-block;
        text-align:right;
    }
    .label > span {
        display: block;
        line-height:55px;
    }
    .input {
        display: inline-block;
    }
    
    .input > input {
        width:250px;
        display: block;
        line-height:40px;
        margin-bottom:15px;
        border-radius: 15px;
        border: none;
        background-color:#f4f4f4;
        padding: 0 10px 0 10px;
        box-sizing: border-box;
    }
    
    .container {
        display:flex;
        flex-direction: column;
        width:100%;
        max-width:1200px;    
        margin: 0 auto;
        padding-bottom:50px;
        box-sizing: border-box;;
    }
    .base {
        width:1200px !important;
    }

    .welcome_title {
        font-size:2.0rem;
        line-height:1.2em;
        font-family:Arial;
        font-weight:400;
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    h3 {
        font-size:1.5rem;
    }
    h1 {
        font-size: 2.5rem;
        color: #503535;
        margin-bottom:40px;
    }
    .welcome_big_logo > img {
        margin-left:20px;
        padding-bottom:10px;
        width: 10em;
    }

    .core_point > span {
        display: flex;
        font-size:1.5rem;
    }
    .feature_item {
        display: flex;
        flex-direction: column;
        align-items:center;
        margin-top:60px;
        width: 70%;
        height: fit-content;
        padding:2em;
        border-radius: 25px;
        background-color: #f9f9f9;
        transition: 250ms ease-in-out;
    }
    .wrapper {
        width:100%;
        height: fit-content;
        background-color:white;
        border-radius:25px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
        padding:2.8em;
        padding-top:60px;
        box-sizing: border-box;
        margin: 5% 0% 0% 0%;
    }
    .index {
        position: fixed;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        width:55%;
        height: fit-content;
        background-color:white;
        border-radius:25px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
        padding:2.8em;
        padding-top:60px;
        box-sizing: border-box;
    }

    .btn-register {
        background-color:white;
        width:fit-content;
        height:fit-content;
        padding:10px 20px 10px 20px;
        border-radius: 10px;
        border: 1px solid #c1c1c1;
        display: inline-block;
        transition: 250ms ease-in-out
    }
    
    .btn-register:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: 250ms ease-in-out
    }

    .btn-blue {
        width: fit-content;
        height: fit-content;
        padding:15px 25px 15px 25px;
        background-color:#60CFFF;
        border: none;
        border-radius:20px;
        color: white;
        transition: 250ms ease-in-out;
        font-size:18px;
        font-weight: 600;
    }

    .btn-blue:hover {
        transform: scale(1.05);
        transition: 250ms ease-in-out;
        color:white;
        text-decoration:none;
    }
    /* form validation msg */

    .check_success {
        display: flex;
        justify-items: center;
        align-items: center;
        width:fit-content;
        height:fit-content;
        border-radius:15px;
        padding:10px;
        background-color:rgb(234, 255, 232);
        position: absolute;
        z-index: 1;
        margin-left: 255px;
        margin-bottom:20px;
        font-size:14px;
    }

    .fa-times-circle {
        margin-right:5px;
    }

    .check_error {
        display: flex;
        justify-items: center;
        align-items: center;
        width:fit-content;
        height:fit-content;
        border-radius:15px;
        padding:10px;
        background-color:rgb(255, 232, 248);
        position: absolute;
        z-index: 1;
        margin-left: 255px;
        margin-bottom:20px;
        font-size:14px;
    }

    .footer {
        position: fixed;
        left:50%;
        transform: translate(-50%,0);    
        bottom:5px;
        width:240px;
        height:fit-content;
        padding:5px 20px 5px 20px;   
        box-sizing: border-box;
        color:#8c8c8c;      
        font-size: 12px;       
        background-color: white;
        border-radius: 15px;
        box-shadow: 2px 2px 4px #dddddd;   
        display: flex;
        justify-content: center;
        align-self: center;   
        z-index: 5;
        
    }

    /* IPAD */
@media only screen and (max-width: 900px) {
.account_menu-wrap {
    right:5px;
    margin-left:0;    
}
}
/* IPAD PRO */
@media only screen and (min-width: 901px) and (max-width: 1024px) {
.account_menu-wrap {
    right:5px;
    margin-left:0;    
}
}