.dashframe {
    width:100%;
    height:fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.left {
    width:20%;
    height: fit-content;
    display:flex;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    position: relative;
}
.middle {
    width:60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}
.right {
    width:20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
}

/* search bar */
.search-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.search_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    height: 50px;
    width:350px;
    border-radius:25px;
    border: none;
    padding: 0 15px 0 15px;
    background-color:white;
}
#search {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.search_bar {
    height: 100%;
    width: 100%;
    border-radius:25px;
    border: none;
    padding: 0 15px 0 15px;
}

.search_bar:focus{
    outline:none;
}

.search_section > button {
    border:none;
    background-color:white;
    cursor: pointer;
}

.search_section > button:focus {
    outline:none;
}
.search_preview {
    position: relative;
    width:650px;
    
}
.search_preview_frame {
    width:650px;
    height:fit-content;
    max-height:400px;
    overflow-y: auto;
    background-color:#464646;
    box-sizing: border-box;
    padding:25px 15px 25px 15px;
    border-radius: 10px;
    color:white;
    z-index: 1;
    position: absolute;
    margin-top:15px;

}
.search_user-wrap > a {
    color:white;
    text-decoration: underline !important;
    margin-left:10px;
}
.search_result > a {
    color:white;
    text-decoration: underline !important; 
}
.search_result {
    display: block;
    height:fit-content;
    box-sizing: border-box;
    padding:5px;
}
.search_result:hover {
    background-color:#60CFFF;
    transition: 250ms ease-in-out;
    color: #8c8c8c;
    border-radius: 7px;
}

.search_user-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* position: fixed; */
    margin-top:10px;
}
.search_user_pic_frame {
    width:40px;
    height:40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50%;
}
.search_user_pic {
    width:135%;
    height:auto;
}



/* dashboard content layout */
.dash_content_layout {
    display: flex;
    flex-direction: row;
    margin-top:30px;
}
.sidebar-sticky {
    width:fit-content;
    height: fit-content;
    display:flex;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;

}


/* side bar - account owner */
.sidebar_left {
    width:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    margin-top:70px;
}

.pic-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.pic_holder {
    width:125px;
    height:125px;
    border-radius: 50%;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 550ms ease-in-out;
}
.profile_outer-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;

}
.profile_circle_frame {
    width:110px;
    height:110px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.profile_pic {
    width:135%;
    height: auto;
}
.profile_frame {
    width:135%;
    height:auto;
}
.profile_ring {
    position: absolute;
    z-index: 1;
    -webkit-animation:rotation 20s linear infinite;
    -moz-animation:rotation 20s linear infinite;
    animation:rotation 20s linear infinite;
}
@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

.notification-wrap {
    position: relative;
}

.pic_holder > a {
    margin-right:35px;
}
.pic_holder > a:hover {
    text-decoration: none;
}
.fa-pen {
    position: absolute;
    z-index: 1;
    bottom:-15px;
    left:50%;
    transform: translate(-50%,0);
    background-color:white;
    border-radius: 50%;
    padding:15px;
    transition: 250ms ease-in-out;
}
.fa-pen:hover {
    background-color:#60CFFF;
    color:white;
    transition: 250ms ease-in-out;
}
.account_info {
    width:170px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:10px;
    font-size:18px;
    color:#8c8c8c;
    margin-top:15px;
}
.account_info > span {
    display: block;
    text-align: center;
    margin-top:5px;

}
.account_info > a {
    display: flex;
    justify-content: center;
}
.brand_name {
    width:170px;
    height:fit-content;
}
.nav_brand_name{
    width:120px;
}

.memo_count_box {
    width:150px;
    height:100px;
    background-color:white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size:12px;
    box-sizing: border-box;
    padding:20px 20px 10px 20px;
    margin-top:10px;
    color:#8c8c8c;
}

.memo_count {
    font-size:32px;
    font-weight: bold;
    margin-bottom:10px;
}

.contact {
    margin-top:10px;
    width:150px;
    padding:10px 15px 10px 15px;
    box-sizing:border-box;
    text-align: center;
    font-weight:500;
}
.contact-inactive {
    margin-top:10px;
    width:150px;
    padding:10px 15px 10px 15px;
    box-sizing:border-box;
    text-align: center;
    font-weight:500;
    background-color: #8c8c8c;
    color:white;
}
.please-login {
    font-size:10px;
    display: block;
}

.keyword_crumbs_title {
    font-size:12px;
    color: #8c8c8c;
    margin-top:10px;
    margin-bottom:10px;
}

.keyword_crumbs {
    width:170px;
    display: flex;
    flex-wrap: wrap;
    line-height: 30px;    
    justify-content: center;
}
.crumb_btn > a {
    font-size:11px;
    font-weight:500;
    width:fit-content;
    height:fit-content;
    padding:5px;
    border-radius: 5px;
    background-color:white;
    margin:2px;
}
.crumb_btn > a:hover {
    width:fit-content;
    height:fit-content;
    background-color: #60CFFF;
    color:white;
}
/* memo view style */
.d_view_options {
    display: flex;
    flex-direction: row;
    height:40px;
    position: relative;
    margin-top:20px;
    margin-bottom:10px;
}
.d_view_btn-wrap {
    display: flex;
    flex-direction: row;
    position: absolute;
    right:0;
}
.list_btn_from_media {
    margin-right:5px;
    cursor: pointer;
    transition: 250ms ease-in-out;
}
.list_btn_from_media:hover {
    transform: scale(1.05);
    transition: 250ms ease-in-out;
}
.media_btn_from_media {
    margin-right:5px;
    cursor: pointer;
    transition: 250ms ease-in-out;
}
.media_btn_from_media:hover {
    transform: scale(1.05);
    transition: 250ms ease-in-out;
}
.list_btn_from_list {
    margin-right:5px;
    cursor: pointer;
    transition: 250ms ease-in-out;
}
.list_btn_from_list:hover {
    transform: scale(1.05);
    transition: 250ms ease-in-out;
}
.media_btn_from_list {
    margin-right:5px;
    cursor: pointer;
    transition: 250ms ease-in-out;
}
.media_btn_from_list:hover {
    transform: scale(1.05);
    transition: 250ms ease-in-out;
}
.m_view {
    box-sizing: border-box;
    margin-top:20px;
}
.m_view_img {
    width:100%;
    height:auto;

}
.m_view_img_frame {
    width:100%;
    height:300px;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px
}
.m_view_video_frame {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px
}

.dash-memo-option-wrap  {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5px;
}
.memo-dash-option {
    margin-left:20px;
    margin-right:10px;
    font-size:24px;
    color:#8c8c8c;
    cursor: pointer;
    height:37px;    
}

.m_view_keyword_frame {
    position: relative;
}
.m_view_keyword_frame_none {
    position: relative;
    margin-top:80px;
}
.m_view_keyword-wrap {
    position: absolute;
    right:100px;
    top:295px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.m_view_keyword-wrap_video {
    position: absolute;
    right:100px;
    top:415px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.m_view_keyword-wrap_none {
    position: absolute;
    right:100px;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.m_view_keyword {
    position: absolute;
    width:100px;
    height:100px;
    border-radius: 50%;
    background-color: #000000 ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size:14px;
    font-weight: bold;
    border: 3px solid white;
}
.m_view_keyword_video {
    position: absolute;
    width:100px;
    height:100px;
    border-radius: 50%;
    background-image: linear-gradient(to top right,rgb(255, 23, 23),rgb(212, 58, 255));
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size:14px;
    font-weight: bold;
    border: 3px solid white;
}
.m_view_keyword_image {
    position: absolute;
    width:100px;
    height:100px;
    border-radius: 50%;
    background-color: #60CFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size:14px;
    font-weight: bold;
    border: 5px solid #ffffff;
}
.m_view_keyword_none {
    position: absolute;
    width:100px;
    height:100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 133, 153);
    font-size:40px;
    font-weight: bold;
}
.m_view_keyword_ring {
    position: absolute;
}


.m_view_subject {
    font-size:22px;
    color: #8c8c8c;
    font-weight: 600;
}
.m_view_content {
    margin-top:15px;
}
.m_sub_cont-wrap {
    width:100%;
    height:fit-content;
    padding:25px 30px 25px 30px;
    background-color: white;
    border-radius: 25px;
    box-sizing: border-box;
}
.with_media {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px
}
.black {
    background-color: rgb(114, 114, 114);
    color:white;
    border-top: 2px solid white;
}
.white {
    color:white;
}

.memo_list{
    display: flex;
    flex-direction:column;
    width:100%;
    align-self: center;
    padding:0;
    box-sizing: border-box;
}
.memo_list_monthover {
    display: flex;
    flex-direction:column;
    width:100%;
    align-self: center;
    padding:0;
    box-sizing: border-box;
    margin-top:40px;
}
.add-memo {
    position: fixed;
    width:25px;
    height:25px;
    bottom:75px;
    padding:20px;
    border-radius: 50%;
    font-size:24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:5px;
}
.recent-memo {
    margin-top:0px;
    padding: 20px;
}
.memo_frame {
    width: 70%;
    height: 40px;
    padding: 5px 15px 5px 15px;
    margin-bottom:5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius:15px;
    font-size:16px;
    transition: 400ms ease-in-out;
}
.memo_frame_condition {
    width: 70%;
    height: 40px;
    padding: 5px 15px 5px 15px;
    margin-bottom:5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius:15px;
    font-size:16px;
    transition: 400ms ease-in-out;
}
.memo_frame:hover {
    background-color: rgb(221, 245, 255);
    transition: 250ms ease-in-out;
    
}
.memo_frame_condition:hover {
    background-color: rgb(221, 245, 255);
    transition: 250ms ease-in-out;
    
}

.list_keyword {
    font-weight:600;
    margin-right:5px;
}

.list_tag {
    width:150px;
    height:30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#5c5c5c;
    font-size:20px;
} 

.condition_tag {
    font-size:12px;
    color:rgb(255, 133, 153);
    margin-right:10px;
    display: inline-block;
}
.memo-save-wrap {
    position: absolute;
    top:20px;
    right:-35px;
    font-size:40px;
    z-index: 1;
}
.memo-unsave-wrap {
    position: absolute;
    top:20px;
    right:-35px;
    font-size:40px;
    z-index: 2;
}
.save-btn {
    cursor: pointer;
    color:#c7c7c7;
}
.unsave-btn {
    cursor: pointer;
    color:rgb(255, 133, 153);
}
.memo-unsave-form-ajax {
    visibility: hidden;
}

/* in - saved memo */
.memo-save-wrap-savedmemo {
    position: absolute;
    top:-20px;
    right:-25px;
    font-size:30px;
    z-index: 1;
}
.memo-unsave-wrap-savedmemo {
    position: absolute;
    top:-20px;
    right:-25px;
    font-size:30px;
    z-index: 2;
}

.memo-owner-frame {
    width:30px;
    height:30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right:10px;
}
.saved-memo-profile {
    width: 30px;
    height: auto;
    transform: scale(1.3);
}
.saved_item_frame {
    width: 90%;
    height: 40px;
    padding: 5px 10px 5px 10px;
    margin-bottom:5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border-radius:15px;
    font-size:16px;
    transition: 400ms ease-in-out;
    justify-content: flex-start !important;
    position: relative;
}
.saved_item_frame:hover {
    background-color: rgb(221, 245, 255);
    transition: 400ms ease-in-out;
    
}
.saved-memo-item {
    margin-left:10px;
}
