
.tabs-wrap {
    width:50px;
    height:600px;
    position: fixed;
    top:20%;
    transform: translate(0, -50%);
    right:0;
    z-index: 10;
}
.tabs-container {
    position: relative;
    z-index: 10;
}
.tab-items {
    width:650px;
    height:250px;;
    padding:25px 5px 25px 5px;
    box-sizing: border-box;
    background-color: white;
    /* border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf; */
    border-bottom-left-radius: 20px;
    display: flex;
    flex-direction: column;
}
.overflow-frame {
    overflow-y: auto;
}
.tab-tag {
    height:130px;
    width:35px;
    writing-mode:vertical-rl;
    text-orientation: sideways-right;
    /* background-color: black; */
    box-sizing: border-box;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding:5px;
    padding-bottom:10px; 
    border:none; 
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    text-align: right;
}
.tab-tag:hover {
    cursor: pointer;
}
.tab_memo_frame {
    max-width:420px;
}
.tab-title {
    font-size:15px;
    font-weight:bold;
    /* color:white; */
    margin-top:5px;

}
.tab-items-set {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tab_buttons-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}
.tab_buttons-wrap-media-dash {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5px;
    margin-top:5px;
}
.tab_buttons-wrap-savedmemo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    position: relative;
}
.tab_select {
    /* border: 1px solid #dcdcdc; */
    padding: 5px;
    border-radius: 10px;
}
.tab_select:focus {
    outline:none;
}
.tab_move {
    margin-left:10px;
    font-size:12px;
    padding:10px;
    background-color: #606060;
    border-radius: 50%;
    color: white;
}
.list_tab_move {
    margin-left:10px;
    font-size:12px;
    padding:10px;
    background-color: #606060;
    border-radius: 50%;
    color: white;
}
.media_tab_move {
    margin-left:10px;
    font-size:12px;
    padding:10px;
    background-color: #606060;
    border-radius: 50%;
    color: white;
}
.tab_move:hover{
    transform: scale(1.05);
    transition: 200ms ease-in-out;
}
.list_tab_move:hover{
    transform: scale(1.05);
    transition: 200ms ease-in-out;
}
.tab_delete {
    margin-left:10px;
    font-size:12px;
    padding:10px;
    background-color: rgb(255, 133, 153);
    border-radius: 50%;
    color: white;
}
.tab_delete_perm {
    margin-left:10px;
    font-size:12px;
    padding:10px;
    background-color: rgb(189, 0, 82);
    border-radius: 50%;
    color: white;
}

/* tap overlay position, z-index */
.tab-position1 {
    position: absolute;
    z-index: 10;
    top:0px;
}

.tab-position2 {
    position: absolute;
    z-index: 10;
    top:120px;
}
.tab-position3 {
    position: absolute;
    z-index: 10;
    top:240px;
}
.tab-position4 {
    position: absolute;
    z-index: 10;
    top:360px;
}
.tab-position5 {
    position: absolute;
    z-index: 10;
    top:480px;
}
/* tab position & color */
.num1 {
    position: fixed;
    right:0;
}
.tab-toggle01 {
    position: fixed;
    right:0;
    z-index: 10;
    display: flex;
    flex-direction: row;
}

.num2 {
    position: fixed;
    right:0;

}
.tab-toggle02 {
    position: fixed;
    right:0;
    z-index: 10;
    display: flex;
    flex-direction: row;
}
.tag-close02 {

}

.num3 {
    position: fixed;
    right:0;

}
.tab-toggle03 {
    position: fixed;
    right:0;
    z-index: 10;
    display: flex;
    flex-direction: row;
}
.tag-close03 {

}

.num4 {
    position: fixed;
    right:0;

}
.tab-toggle04 {
    position: fixed;
    right:0;
    z-index: 10;
    display: flex;
    flex-direction: row;
}
.tag-close04 {

}
.num5 {
    position: fixed;
    right:0;
}
.tab-toggle05 {
    position: fixed;
    right:0;
    z-index: 10;
    display: flex;
    flex-direction: row;
}
.tag-close05 {

}
.tab05-color {
}
.num6 {
    background-color: rgb(255, 133, 153);
}


/* IPAD */
@media only screen and (max-width: 900px) {
    .tabs-wrap {
        width:50px;
        height:600px;
        position: fixed;
        top:30%;
        transform: translate(0, -50%);
        right:0;
        z-index: 10;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1366px) {
    .tabs-wrap {
        width:50px;
        height:600px;
        position: fixed;
        top:30%;
        transform: translate(0, -50%);
        right:0;
        z-index: 10;
    }
    /* .tabs-wrap{
        visibility: hidden;
    } */
}