{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/bdf130d6e6.js"></script>
    <script src="https://code.jquery.com/ui/1.8.23/jquery-ui.js"
    integrity="sha256-lFA8dPmfmR4AQorTbla7C2W0aborhztLt0IQFLAVBTQ="
    crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <title>SKILL MEMO | Simply Ultimate Learning & Teaching Tool</title>
</head>
<body>
    <!-- top bar -->
    <div class="navbar">
        <!-- <div class="navbar_content_align"> -->
        <a href="/"><img class="nav_logo" src="{% static 'img/logo_light.png' %}"><span>skillmemo</span></a>
                <div class="register_button">
                    <a href="/register" id="create_account" class="btn-register">create account</a>
                    <a href="/login" id="login" class="btn-register">login</a>                
                </div> 
    </div>

    <div class="container base">
        {% block content %} {% endblock %}

    </div>
    <script src=" {% static 'js/login_reg.js' %}"></script>
    <script src=" {% static 'js/dashboard.js' %}"></script>
    <!-- <script src=" {% static 'js/tab_function.js' %}"></script> -->
</body>
</html>