{% extends 'base.html' %}

{% block content %}
<div class="index">
        {% load static %}
        <div class="welcome_big_logo">
            <img src="{% static 'img/logo.png' %}" >
            <h1>SKILLMEMO</h1>
        </div>
        
    <div class="welcome_title">
        <span>Simply Efficient!</span>
        <span>Learn,Teach and PR</span>
        <span>Your Skill Sets</span>
    </div>

    <!-- <div class="core_point">
        <span>helps you</span>
        <span>to <span class="bold">{ ORGANIZE }</span> new knowledge</span>
        <span>to <span class="bold">{ REMIND }</span> your memory</span>
        <span>to <span class="bold">{ BUILD }</span> your own skill set faster</span>
    </div> -->

    <div class="create">
        <a href="/register" class="btn-blue">Create Account</a>

    </div>
</div>

<!-- <div class="wrapper">
    <div class="feature">
        <h1>Features</h1>
        <div class="feature_item">
            <h3>customizable TABS</h3>
            <div class="sm-title">For Coding Bootcamp</div>
            <img src="{% static 'img/feature_taps.png' %}">
            <div class="sm-title">For School Study</div>
            <img src="{% static 'img/feature_taps_02.png' %}">
        </div>

        <div class="feature_item">
            <h3>memo search by keyword</h3>
            <img src="{% static 'img/feature_search.png' %}">
        </div>

        <div class="feature_item">
            <h3>post a memo in public or private</h3>
            <img class="private" src="{% static 'img/feature_private.png' %}">
            <div class="sm-title">you can change it at anytime!</div>
        </div>

        <div class="feature_item">
            <h3>simply share public memo URL</h3>
            <img src="{% static 'img/copy_url.png' %}">
            <h3>then anyone can leave a comment</h3>
            <img src="{% static 'img/feature_reply.png' %}">
            <div class="sm-title">share it, work together</div>
        </div>

        <div class="feature_item">
            <h3>Fully Responsive</h3>
            <img src="{% static 'img/full_responsive.png' %}">
            <div class="sm-title">use with any device</div>
        </div>
    </div>
    <div class="create">
        <a href="/register" class="btn-blue">Create Account</a>
    </div>
    
</div> -->

{% endblock %}