{% extends 'base.html' %}

{% block content %}
<div class="index">
        {% load static %}
        <div class="welcome_big_logo">
            <img src="{% static 'img/logo.png' %}" >
            <h1>SKILLMEMO</h1>
        </div>
        
    <div class="welcome_title">
        <span>Simply Efficient!</span>
        <span>Learn,Teach and PR</span>
        <span>Your Skill Sets</span>
    </div>

    <div class="create">
        <a href="/register" class="btn-blue">Create Account</a>

    </div>
</div>


{% endblock %}